1.Iterate 0 to 10 using for loop, do the same using while loop.

In [1]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

2.Iterate 10 to 0 using for loop, do the same using while loop.

In [3]:
for i in reversed(range(11)):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

3.Write a loop that makes seven calls to print(), so we get on the output the following triangle:

In [4]:
for i in range(7):
    for j in range(7):
        print("#","",end=" ")
    print()

#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #

Iterate through the list, ['Python', 'Numpy','Pandas','Scikit', 'Pytorch'] using a for loop and print out the items.

In [5]:
a=['Python', 'Numpy','Pandas','Scikit', 'Pytorch']
for i in a:
    print(i)

Python
Numpy
Pandas
Scikit
Pytorch

Use for loop to iterate from 0 to 100 and print only even numbers

In [6]:
for i in range(101):
    if i%2 !=0:
        continue
    print(i,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

Use for loop to iterate from 0 to 100 and print only odd numbers

In [7]:
for i in range(101):
    if i%2 ==0:
        continue
    print(i,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

Use for loop to iterate from 0 to 100 and print the sum of all numbers.

In [8]:
numbers = list(range(0,101))
sum = 0
for i in numbers:
    sum = sum+i
print("The sum of all numbers is", sum)

The sum of all numbers is 5050

Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

In [9]:
sum=0
for i in range(2,101,2):
    sum=sum+i
print('The sum of all evens is',sum)

The sum of all evens is 2550